{% for role, attributes in roles|sort %}
    <li>{{ form_widget(attributes.form, { label: attributes.role_translated, translation_domain: false, value: attributes.role, disabled: not attributes.is_granted }) }}</li>
{% endfor %}
