parameters:
	ignoreErrors:
		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Admin\\\\Model\\\\GroupAdmin\\:\\:__construct\\(\\) has parameter \\$groupManager with generic interface Nucleos\\\\UserBundle\\\\Model\\\\GroupManager but does not specify its types\\: GroupTemplate$#"
			count: 1
			path: src/Admin/Model/GroupAdmin.php

		-
			message: "#^Property Nucleos\\\\UserAdminBundle\\\\Admin\\\\Model\\\\GroupAdmin\\:\\:\\$groupManager with generic interface Nucleos\\\\UserBundle\\\\Model\\\\GroupManager does not specify its types\\: GroupTemplate$#"
			count: 1
			path: src/Admin/Model/GroupAdmin.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 4
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to function is_subclass_of\\(\\) with 'Nucleos\\\\\\\\UserAdminBundle\\\\\\\\Controller\\\\\\\\UserCRUDController' and 'Symfony\\\\\\\\Contracts\\\\\\\\Service\\\\\\\\ServiceSubscriberInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserAdminExtension.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\DependencyInjection\\\\NucleosUserAdminExtension\\:\\:configureAdminClass\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserAdminExtension.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\DependencyInjection\\\\NucleosUserAdminExtension\\:\\:configureAvatar\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserAdminExtension.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\DependencyInjection\\\\NucleosUserAdminExtension\\:\\:configureController\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserAdminExtension.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\DependencyInjection\\\\NucleosUserAdminExtension\\:\\:configureTranslationDomain\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserAdminExtension.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\DependencyInjection\\\\NucleosUserAdminExtension\\:\\:fixImpersonating\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserAdminExtension.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\DependencyInjection\\\\NucleosUserAdminExtension\\:\\:fixImpersonating\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserAdminExtension.php

		-
			message: "#^Strict comparison using \\=\\=\\= between false and array\\<\\(int\\|string\\)\\> will always evaluate to false\\.$#"
			count: 1
			path: src/Form/Type/RolesMatrixType.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Security\\\\Authorization\\\\Voter\\\\UserAclVoter\\:\\:vote\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/Authorization/Voter/UserAclVoter.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Security\\\\EditableRolesBuilder\\:\\:__construct\\(\\) has parameter \\$rolesHierarchy with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/EditableRolesBuilder.php

		-
			message: "#^Property Nucleos\\\\UserAdminBundle\\\\Security\\\\EditableRolesBuilder\\:\\:\\$rolesHierarchy type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/EditableRolesBuilder.php

		-
			message: "#^Call to function is_array\\(\\) with array\\<int, array\\{admin\\: string, roles\\: array\\<int, string\\>, route_absolute\\: bool, route_params\\: array\\<string, string\\>\\}\\|array\\{label\\: string, roles\\: array\\<int, string\\>, route\\: string, route_absolute\\: bool, route_params\\: array\\<string, string\\>\\}\\> will always evaluate to true\\.$#"
			count: 1
			path: src/Security/RolesBuilder/AdminRolesBuilder.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\AdminRolesBuilder\\:\\:getRoles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/RolesBuilder/AdminRolesBuilder.php

		-
			message: "#^Parameter \\#1 \\$admin of method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\AdminRolesBuilder\\:\\:getAdminLabel\\(\\) expects Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\<Nucleos\\\\UserBundle\\\\Model\\\\UserInterface\\>, Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\<object\\> given\\.$#"
			count: 1
			path: src/Security/RolesBuilder/AdminRolesBuilder.php

		-
			message: "#^Parameter \\#1 \\$admin of method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\AdminRolesBuilder\\:\\:getGroupLabel\\(\\) expects Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\<Nucleos\\\\UserBundle\\\\Model\\\\UserInterface\\>, Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\<object\\> given\\.$#"
			count: 1
			path: src/Security/RolesBuilder/AdminRolesBuilder.php

		-
			message: "#^Parameter \\#1 \\$admin of method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\AdminRolesBuilder\\:\\:isMaster\\(\\) expects Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\<Nucleos\\\\UserBundle\\\\Model\\\\UserInterface\\>, Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\<object\\> given\\.$#"
			count: 1
			path: src/Security/RolesBuilder/AdminRolesBuilder.php

		-
			message: "#^Parameter \\#1 \\$items of method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\AdminRolesBuilder\\:\\:hasGroupAdmin\\(\\) expects array\\<string, mixed\\>, array\\<int, array\\<string, array\\<int\\|string, string\\>\\|bool\\|string\\>\\> given\\.$#"
			count: 1
			path: src/Security/RolesBuilder/AdminRolesBuilder.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\ExpandableRolesBuilderInterface\\:\\:getExpandedRoles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/RolesBuilder/ExpandableRolesBuilderInterface.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\RolesBuilderInterface\\:\\:getRoles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/RolesBuilder/RolesBuilderInterface.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\SecurityRolesBuilder\\:\\:getSecurityRoles\\(\\) has parameter \\$hierarchy with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/RolesBuilder/SecurityRolesBuilder.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Security\\\\RolesBuilder\\\\SecurityRolesBuilder\\:\\:recursiveArraySearch\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Security/RolesBuilder/SecurityRolesBuilder.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Tests\\\\Action\\\\LoginActionTest\\:\\:unauthenticatedProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Action/LoginActionTest.php

		-
			message: "#^Call to function method_exists\\(\\) with 'Symfony\\\\\\\\Component\\\\\\\\Security\\\\\\\\Core\\\\\\\\User\\\\\\\\UserProviderInterface' and 'loadUserByIdentifier' will always evaluate to true\\.$#"
			count: 1
			path: tests/Action/SendEmailActionTest.php

		-
			message: "#^Method Nucleos\\\\UserAdminBundle\\\\Tests\\\\Fixtures\\\\PoolMockFactory\\:\\:create\\(\\) has parameter \\$adminServiceIds with generic interface Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface but does not specify its types\\: T$#"
			count: 1
			path: tests/Fixtures/PoolMockFactory.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with true and non\\-empty\\-string will always evaluate to true\\.$#"
			count: 1
			path: tests/Resources/XliffTest.php

		-
			message: "#^Parameter \\#3 \\$options of class Sonata\\\\AdminBundle\\\\SonataConfiguration constructor expects array\\{confirm_exit\\: bool, default_admin_route\\: string, default_group\\: string, default_icon\\: string, default_translation_domain\\: string, dropdown_number_groups_per_colums\\: int, form_type\\: 'horizontal'\\|'standard', html5_validate\\: bool, \\.\\.\\.\\}, array\\{\\} given\\.$#"
			count: 3
			path: tests/Security/Authorization/Voter/EditableRolesBuilderTest.php

		-
			message: "#^Parameter \\#3 \\$options of class Sonata\\\\AdminBundle\\\\SonataConfiguration constructor expects array\\{confirm_exit\\: bool, default_admin_route\\: string, default_group\\: string, default_icon\\: string, default_translation_domain\\: string, dropdown_number_groups_per_colums\\: int, form_type\\: 'horizontal'\\|'standard', html5_validate\\: bool, \\.\\.\\.\\}, array\\{\\} given\\.$#"
			count: 1
			path: tests/Security/RolesBuilder/AdminRolesBuilderTest.php

		-
			message: "#^Property Nucleos\\\\UserAdminBundle\\\\Tests\\\\Security\\\\RolesBuilder\\\\AdminRolesBuilderTest\\:\\:\\$token is never read, only written\\.$#"
			count: 1
			path: tests/Security/RolesBuilder/AdminRolesBuilderTest.php

		-
			message: "#^Property Nucleos\\\\UserAdminBundle\\\\Tests\\\\Security\\\\RolesBuilder\\\\AdminRolesBuilderTest\\:\\:\\$tokenStorage is never read, only written\\.$#"
			count: 1
			path: tests/Security/RolesBuilder/AdminRolesBuilderTest.php

		-
			message: "#^Parameter \\#3 \\$options of class Sonata\\\\AdminBundle\\\\SonataConfiguration constructor expects array\\{confirm_exit\\: bool, default_admin_route\\: string, default_group\\: string, default_icon\\: string, default_translation_domain\\: string, dropdown_number_groups_per_colums\\: int, form_type\\: 'horizontal'\\|'standard', html5_validate\\: bool, \\.\\.\\.\\}, array\\{role_super_admin\\: 'ROLE_SUPER_ADMIN', role_admin\\: 'ROLE_SONATA_ADMIN'\\} given\\.$#"
			count: 1
			path: tests/Security/RolesBuilder/SecurityRolesBuilderTest.php

		-
			message: "#^Property Nucleos\\\\UserAdminBundle\\\\Tests\\\\Security\\\\RolesBuilder\\\\SecurityRolesBuilderTest\\:\\:\\$admin is never read, only written\\.$#"
			count: 1
			path: tests/Security/RolesBuilder/SecurityRolesBuilderTest.php

