{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if app.user and object.username != app.user.username %}
        <a href="{{ impersonate(object.username) }}"
           title="{{ 'switch_user'|trans({}, 'NucleosUserAdminBundle') }}">
            <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-log-in"></i>
        </a>
    {% else %}
        -
    {% endif %}
{% endblock %}
