{% extends '@NucleosUserAdmin/Admin/Security/layout.html.twig' %}

{% block login_box_content %}
    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'NucleosUserBundle')|nl2br }}
    </p>
{% endblock %}
