{% extends '@NucleosUserAdmin/Admin/Security/layout.html.twig' %}

{% block login_box_content %}
    <p class="login-box-msg">
        {{ 'resetting.reset.submit'|trans({}, 'NucleosUserBundle') }}
    </p>

    {{ form_start(form, { 'action': path('nucleos_user_admin_resetting_reset', {'token': token}) }) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock sonata_wrapper %}
